/* Start Main Rules */
body {
    background-color: #F4F4F4;
    font-size: 16px;
}
/* End Main Rules */
/* Start Login Page */


.login {
    width: 300px;
    margin: 150px auto;
}
.login h4 {
    color: #888;
    margin: auto;
}

.login input {
    margin-bottom: 5px
}

.login .form-control {
    background-color: #ECECEC;
}
.login .btn {
    background-color: #008dde;
} 
/* End Login Page */

/* Start Navbar Page */
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}
.navbar-brand,
.nav > li > a {
    padding: 15px 12px;
}

.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
    min-width: 185px;
    border-radius: 10px;
}

.dropdown-menu > li > a {
    color: #fff
}

/* End Navbar Page */

/* Start Form Edit Page */
h1 {
    margin: 15px 0;
    font-size: 50px;
    font-weight: bold;
    color: #666;
}
.form-group {
    padding-bottom: 45px;
}
.form-group > label {
    text-align: center;
    margin-block: 14px;
}
.form-control {
    position: relative;
}
.asterisk {
    position: absolute;
    font-size: 25px;
    right: 30px;
    top:12px;
    color:#9b0000;
}
.show-pass {
    position: absolute;
    top: 15px;
    right: -10px;
    font-size:20px;
}
/* End Form Edit Page */


/* Start Dashboard Page */
.home-stats .stat {
    background-color: #EEE;
    border: 1px solid #CCC;
    padding: 20px;
    font-size: 20px;
}
.home-stats .stat span {
    display: block;
        font-size: 40px;
}
.latest {
    margin-top: 25px;
}
/* End Dashboard Page */


/* Members Page Table */
.main-table > thead > tr > th {
    text-align: center;
    background-color: #333;
    color: #FFF;
}
.main-table {
    -webkit-box-shadow: 0 1px 10px #CCC;
    -mox-box-shadow: 0 1px 10px #CCC;
    box-shadow: 0 1px 10px #CCC;
}

.main-table tr {
    text-align: center;
}
.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}
.main-table .btn {
    padding: 3px 10px;
}
/* End Members Page Table */












