/* Start Main Rules */
body {
    background-color: #F4F4F4;
    font-size: 16px;
}
/* End Main Rules */
/* Start Login Page */


.login {
    width: 300px;
    margin: 150px auto;
}
.login h4 {
    color: #888;
    margin: auto;
}

.login input {
    margin-bottom: 5px
}

.login .form-control {
    background-color: #ECECEC;
}
.login .btn {
    background-color: #008dde;
} 
/* End Login Page */

/* Start Navbar Page */
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}
.navbar-brand,
.nav > li > a {
    padding: 15px 12px;
}

.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
    min-width: 185px;
    border-radius: 10px;
}

.dropdown-menu > li > a {
    color: #fff
}

/* End Navbar Page */

/* Start Form Edit Page */
h1 {
    margin: 15px 0;
    font-size: 50px;
    font-weight: bold;
    color: #666;
}
.form-group {
    padding-bottom: 45px;
}
.form-group > label {
    text-align: center;
    margin-block: 14px;
}
.form-control {
    position: relative;
}
.asterisk {
    position: absolute;
    font-size: 25px;
    right: 30px;
    top:12px;
    color:#9b0000;
}
.show-pass {
    position: absolute;
    top: 15px;
    right: -10px;
    font-size:20px;
}
/* End Form Edit Page */


/* Start Dashboard Page */
.home-stats .stat {
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 9px;
    color: #FED;
    padding: 20px;
    font-size: 20px;
}
.home-stats .stat a {
    color: #FFF;
}
.home-stats .stat span {
    display: block;
    font-size: 50px;
}
/* flatuicolor.com */
.home-stats .st-members {
    background-color: #3498db;
}
.home-stats .st-pending {
    background-color: #2ecc71;
}
.home-stats .st-items {
    background-color: #e74c3c;
}
.home-stats .st-comments {
    background-color: #16a085;
}
.latest {
    margin-top: 25px;
}
.latest .latest-users li{
    padding: 5px 8px;
    overflow: hidden
}
.latest .latest-users li:nth-child(odd) {
    background-color: #EEE;
}
.latest .latest-users .btn {
    padding: 2px 7px;
}
.latest .latest-users .btn-info {
    margin-right: 3px;
}
/* End Dashboard Page */


/* Members Page Table */
.main-table > thead > tr > th {
    text-align: center;
    background-color: #333;
    color: #FFF;
}
.main-table {
    -webkit-box-shadow: 0 1px 10px #CCC;
    -mox-box-shadow: 0 1px 10px #CCC;
    box-shadow: 0 1px 10px #CCC;
}

.main-table tr {
    text-align: center;
}
.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}
.main-table .btn {
    padding: 3px 10px;
}
/* End Members Page Table */

/* Start Categories Page Table */
.categories .orders a {
    color: #888;
    text-decoration: none;
}
.categories .orders .active {
    color: #F00;
}
.categories .panel-body {
    padding: 0px;
}
.categories .cat {
    padding:  15px;
    overflow: hidden;
    position: relative;
}

.categories .hidden-btn a:last-of-type {
    transition: all .5s ease-in-out;
    position: absolute;
    top: 10px;
    right: -120px;
}
.categories .hidden-btn a:first-of-type {
    transition: all .7s ease-in-out;
    position: absolute;
    top: 10px;
    right: -120px;
}
.categories .cat:hover .hidden-btn a:last-of-type {
    right: 10px;
}
.categories .cat:hover .hidden-btn a:first-of-type {
    right: 75px;
}
.categories .cat:hover {
    background-color: #EEE;
}
.categories hr {
    margin: 0 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.categories .cat h3 {
    margin: 0 0 10px;
}
.categories .cat:last-of-type ~ hr {
    display: none;
}
.categories .cat span {
    padding: 6px 10px;
    border-radius: 8px;
    color: #FFF;
    margin-right: 5px;
}
.categories .cat .vis {
    background-color: #c0392b;
}
.categories .cat .com {
    background-color: #34495e;
}
.categories .cat .ads {
    background-color: #7f8c8d;
}
/* End Categories Page Table */











